(
    palette: Dark(( 
        name: "cosmic-dark",
        bright_red: (
            red: 1.0,
            green: 0.4980392,
            blue: 0.5254902,
            alpha: 1.0,
        ),
        bright_green: (
            red: 0.0666667,
            green: 0.7803922,
            blue: 0.4666667,
            alpha: 1.0,
        ),
        bright_orange: (
            red: 0.9960784,
            green: 0.7686275,
            blue: 0.2470588,
            alpha: 1.0,
        ),
        gray_1: (
            red: 0.2901961,
            green: 0.3098039,
            blue: 0.4117647,
            alpha: 1.0,
        ),
        gray_2: (
            red: 0.1686275,
            green: 0.1882353,
            blue: 0.2705882,
            alpha: 1.0,
        ),
        neutral_0: (
            red: 0.0509804,
            green: 0.054902,
            blue: 0.1098039,
            alpha: 1.0,
        ),
        neutral_1: (
            red: 0.1137255,
            green: 0.1333333,
            blue: 0.2078431,
            alpha: 1.0,
        ),
        neutral_2: (
            red: 0.1686275,
            green: 0.1882353,
            blue: 0.2705882,
            alpha: 1.0,
        ),
        neutral_3: (
            red: 0.2901961,
            green: 0.3098039,
            blue: 0.4117647,
            alpha: 1.0,
        ),
        neutral_4: (
            red: 0.3352942,
            green: 0.3509804,
            blue: 0.4450981,
            alpha: 1.0,
        ),
        neutral_5: (
            red: 0.3803922,
            green: 0.3921569,
            blue: 0.4784314,
            alpha: 1.0,
        ),
        neutral_6: (
            red: 0.4882353,
            green: 0.4941176,
            blue: 0.5372549,
            alpha: 1.0,
        ),
        neutral_7: (
            red: 0.5960784,
            green: 0.5960784,
            blue: 0.5960784,
            alpha: 1.0,
        ),
        neutral_8: (
            red: 0.7980392,
            green: 0.7980392,
            blue: 0.7980392,
            alpha: 1.0,
        ),
        neutral_9: (
            red: 0.9192157,
            green: 0.9192157,
            blue: 0.9192157,
            alpha: 1.0,
        ),
        neutral_10: (
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
        ),
        accent_blue: (
            red: 0.1843137,
            green: 0.6862745,
            blue: 1.0,
            alpha: 1.0,
        ),
        accent_indigo: (
            red: 0.5647059,
            green: 0.6,
            blue: 0.8509804,
            alpha: 1.0,
        ),
        accent_purple: (
            red: 0.7137255,
            green: 0.627451,
            blue: 1.0,
            alpha: 1.0,
        ),
        accent_pink: (
            red: 0.9686275,
            green: 0.5607843,
            blue: 0.9058824,
            alpha: 1.0,
        ),
        accent_red: (
            red: 1.0,
            green: 0.372549,
            blue: 0.3490196,
            alpha: 1.0,
        ),
        accent_orange: (
            red: 0.9960784,
            green: 0.7686275,
            blue: 0.2470588,
            alpha: 1.0,
        ),
        accent_yellow: (
            red: 0.8156863,
            green: 0.7372549,
            blue: 0.0,
            alpha: 1.0,
        ),
        accent_green: (
            red: 0.2666667,
            green: 0.7372549,
            blue: 0.2666667,
            alpha: 1.0,
        ),
        accent_warm_grey: (
            red: 0.6117647,
            green: 0.7411765,
            blue: 0.4352941,
            alpha: 1.0,
        ),
        ext_warm_grey: (
            red: 0.5960784,
            green: 0.5960784,
            blue: 0.5960784,
            alpha: 1.0,
        ),
        ext_orange: (
            red: 0.2901961,
            green: 0.2509804,
            blue: 0.0,
            alpha: 1.0,
        ),
        ext_yellow: (
            red: 0.2901961,
            green: 0.2509804,
            blue: 0.0,
            alpha: 1.0,
        ),
        ext_blue: (
            red: 0.1411765,
            green: 0.1490196,
            blue: 0.4745098,
            alpha: 1.0,
        ),
        ext_purple: (
            red: 0.3333333,
            green: 0.1843137,
            blue: 0.372549,
            alpha: 1.0,
        ),
        ext_pink: (
            red: 0.3333333,
            green: 0.1843137,
            blue: 0.372549,
            alpha: 1.0,
        ),
        ext_indigo: (
            red: 0.0,
            green: 0.2509804,
            blue: 0.3960784,
            alpha: 1.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (2.0, 2.0, 2.0, 2.0),
        radius_s: (2.0, 2.0, 2.0, 2.0),
        radius_m: (2.0, 2.0, 2.0, 2.0),
        radius_l: (2.0, 2.0, 2.0, 2.0),
        radius_xl: (2.0, 2.0, 2.0, 2.0),
    ),
    neutral_tint: Some((
        red: 0.3803922,
        green: 0.3921569,
        blue: 0.4784314,
    )),
    bg_color: Some((
        red: 0.0509804,
        green: 0.054902,
        blue: 0.1098039,
        alpha: 1.0,
    )),
    primary_container_bg: Some((
        red: 0.1137255,
        green: 0.1333333,
        blue: 0.2078431,
        alpha: 1.0,
    )),
    secondary_container_bg: None,
    text_tint: Some((
        red: 1.0,
        green: 1.0,
        blue: 1.0,
    )),
    accent: Some((
        red: 0.4745098,
        green: 0.6588235,
        blue: 1.0,
    )),
    success: None,
    warning: None,
    destructive: None,
    is_frosted: false,
    gaps: (0, 0),
    active_hint: 2,
    window_hint: None,
)
